=begin
#SendPost API

#SendPost API to send transactional emails reliably

OpenAPI spec version: 1.0.0
Contact: hello@sendx.io
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.17

=end

require 'uri'

module SwaggerClient
  class AccounttagApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create Tag
    # @param x_account_api_key Account API Key
    # @param body The Tag content
    # @param [Hash] opts the optional parameters
    # @return [ModelsTag]
    def tag_router_create(x_account_api_key, body, opts = {})
      data, _status_code, _headers = tag_router_create_with_http_info(x_account_api_key, body, opts)
      data
    end

    # Create Tag
    # @param x_account_api_key Account API Key
    # @param body The Tag content
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsTag, Fixnum, Hash)>] ModelsTag data, response status code and response headers
    def tag_router_create_with_http_info(x_account_api_key, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccounttagApi.tag_router_create ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccounttagApi.tag_router_create"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AccounttagApi.tag_router_create"
      end
      # resource path
      local_var_path = '/account/tag/'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsTag')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccounttagApi#tag_router_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Tag
    # @param x_account_api_key Account API Key
    # @param tagid The AccountTagId you want to delete
    # @param [Hash] opts the optional parameters
    # @return [ModelsDeleteResponse]
    def tag_router_delete(x_account_api_key, tagid, opts = {})
      data, _status_code, _headers = tag_router_delete_with_http_info(x_account_api_key, tagid, opts)
      data
    end

    # Delete Tag
    # @param x_account_api_key Account API Key
    # @param tagid The AccountTagId you want to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsDeleteResponse, Fixnum, Hash)>] ModelsDeleteResponse data, response status code and response headers
    def tag_router_delete_with_http_info(x_account_api_key, tagid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccounttagApi.tag_router_delete ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccounttagApi.tag_router_delete"
      end
      # verify the required parameter 'tagid' is set
      if @api_client.config.client_side_validation && tagid.nil?
        fail ArgumentError, "Missing the required parameter 'tagid' when calling AccounttagApi.tag_router_delete"
      end
      # resource path
      local_var_path = '/account/tag/{tagid}'.sub('{' + 'tagid' + '}', tagid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsDeleteResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccounttagApi#tag_router_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get All Tags
    # @param x_account_api_key Account API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<ModelsTag>]
    def tag_router_get_all(x_account_api_key, opts = {})
      data, _status_code, _headers = tag_router_get_all_with_http_info(x_account_api_key, opts)
      data
    end

    # Get All Tags
    # @param x_account_api_key Account API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ModelsTag>, Fixnum, Hash)>] Array<ModelsTag> data, response status code and response headers
    def tag_router_get_all_with_http_info(x_account_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccounttagApi.tag_router_get_all ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccounttagApi.tag_router_get_all"
      end
      # resource path
      local_var_path = '/account/tag/'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ModelsTag>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccounttagApi#tag_router_get_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
