=begin
#SendPost API

#SendPost API to send transactional emails reliably

OpenAPI spec version: 1.0.0
Contact: hello@sendx.io
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.17

=end

require 'uri'

module SwaggerClient
  class AccounttemplateApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a new template
    # @param x_account_api_key Account API Key
    # @param body The AccountTemplate content
    # @param [Hash] opts the optional parameters
    # @return [ModelsAccountTemplate]
    def account_template_router_create(x_account_api_key, body, opts = {})
      data, _status_code, _headers = account_template_router_create_with_http_info(x_account_api_key, body, opts)
      data
    end

    # Create a new template
    # @param x_account_api_key Account API Key
    # @param body The AccountTemplate content
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsAccountTemplate, Fixnum, Hash)>] ModelsAccountTemplate data, response status code and response headers
    def account_template_router_create_with_http_info(x_account_api_key, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccounttemplateApi.account_template_router_create ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccounttemplateApi.account_template_router_create"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AccounttemplateApi.account_template_router_create"
      end
      # resource path
      local_var_path = '/account/template/'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsAccountTemplate')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccounttemplateApi#account_template_router_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete AccountTemplate
    # @param x_account_api_key Account API Key
    # @param templateid The id of the template you want to delete
    # @param [Hash] opts the optional parameters
    # @return [ModelsDeleteResponse]
    def account_template_router_delete(x_account_api_key, templateid, opts = {})
      data, _status_code, _headers = account_template_router_delete_with_http_info(x_account_api_key, templateid, opts)
      data
    end

    # Delete AccountTemplate
    # @param x_account_api_key Account API Key
    # @param templateid The id of the template you want to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsDeleteResponse, Fixnum, Hash)>] ModelsDeleteResponse data, response status code and response headers
    def account_template_router_delete_with_http_info(x_account_api_key, templateid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccounttemplateApi.account_template_router_delete ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccounttemplateApi.account_template_router_delete"
      end
      # verify the required parameter 'templateid' is set
      if @api_client.config.client_side_validation && templateid.nil?
        fail ArgumentError, "Missing the required parameter 'templateid' when calling AccounttemplateApi.account_template_router_delete"
      end
      # resource path
      local_var_path = '/account/template/{templateid}'.sub('{' + 'templateid' + '}', templateid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsDeleteResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccounttemplateApi#account_template_router_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get single template
    # @param x_account_api_key Account API Key
    # @param templateid ID of the template required
    # @param [Hash] opts the optional parameters
    # @return [ModelsAccountTemplate]
    def account_template_router_get(x_account_api_key, templateid, opts = {})
      data, _status_code, _headers = account_template_router_get_with_http_info(x_account_api_key, templateid, opts)
      data
    end

    # Get single template
    # @param x_account_api_key Account API Key
    # @param templateid ID of the template required
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsAccountTemplate, Fixnum, Hash)>] ModelsAccountTemplate data, response status code and response headers
    def account_template_router_get_with_http_info(x_account_api_key, templateid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccounttemplateApi.account_template_router_get ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccounttemplateApi.account_template_router_get"
      end
      # verify the required parameter 'templateid' is set
      if @api_client.config.client_side_validation && templateid.nil?
        fail ArgumentError, "Missing the required parameter 'templateid' when calling AccounttemplateApi.account_template_router_get"
      end
      # resource path
      local_var_path = '/account/template/{templateid}'.sub('{' + 'templateid' + '}', templateid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsAccountTemplate')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccounttemplateApi#account_template_router_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get all templates
    # @param x_account_api_key Account API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<ModelsAccountTemplate>]
    def account_template_router_get_all(x_account_api_key, opts = {})
      data, _status_code, _headers = account_template_router_get_all_with_http_info(x_account_api_key, opts)
      data
    end

    # Get all templates
    # @param x_account_api_key Account API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ModelsAccountTemplate>, Fixnum, Hash)>] Array<ModelsAccountTemplate> data, response status code and response headers
    def account_template_router_get_all_with_http_info(x_account_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccounttemplateApi.account_template_router_get_all ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccounttemplateApi.account_template_router_get_all"
      end
      # resource path
      local_var_path = '/account/template/'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ModelsAccountTemplate>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccounttemplateApi#account_template_router_get_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # update template
    # @param x_account_api_key Account API Key
    # @param templateid The id of the template you want to update
    # @param body The template content
    # @param [Hash] opts the optional parameters
    # @return [ModelsAccountTemplate]
    def account_template_router_update(x_account_api_key, templateid, body, opts = {})
      data, _status_code, _headers = account_template_router_update_with_http_info(x_account_api_key, templateid, body, opts)
      data
    end

    # update template
    # @param x_account_api_key Account API Key
    # @param templateid The id of the template you want to update
    # @param body The template content
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsAccountTemplate, Fixnum, Hash)>] ModelsAccountTemplate data, response status code and response headers
    def account_template_router_update_with_http_info(x_account_api_key, templateid, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccounttemplateApi.account_template_router_update ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccounttemplateApi.account_template_router_update"
      end
      # verify the required parameter 'templateid' is set
      if @api_client.config.client_side_validation && templateid.nil?
        fail ArgumentError, "Missing the required parameter 'templateid' when calling AccounttemplateApi.account_template_router_update"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AccounttemplateApi.account_template_router_update"
      end
      # resource path
      local_var_path = '/account/template/{templateid}'.sub('{' + 'templateid' + '}', templateid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsAccountTemplate')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccounttemplateApi#account_template_router_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
