=begin
#SendPost API

#SendPost API to send transactional emails reliably

OpenAPI spec version: 1.0.0
Contact: hello@sendx.io
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.17

=end

require 'uri'

module SwaggerClient
  class AccountipApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Allocate IP To Account
    # @param x_account_api_key Account API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<ModelsIP>]
    def i_p_router_allocate_ip(x_account_api_key, opts = {})
      data, _status_code, _headers = i_p_router_allocate_ip_with_http_info(x_account_api_key, opts)
      data
    end

    # Allocate IP To Account
    # @param x_account_api_key Account API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ModelsIP>, Fixnum, Hash)>] Array<ModelsIP> data, response status code and response headers
    def i_p_router_allocate_ip_with_http_info(x_account_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountipApi.i_p_router_allocate_ip ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccountipApi.i_p_router_allocate_ip"
      end
      # resource path
      local_var_path = '/account/ip/allocate'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ModelsIP>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountipApi#i_p_router_allocate_ip\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Count Total AccountIPs
    # @param x_account_api_key Account API Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search search term
    # @return [ModelsCountStat]
    def i_p_router_count(x_account_api_key, opts = {})
      data, _status_code, _headers = i_p_router_count_with_http_info(x_account_api_key, opts)
      data
    end

    # Count Total AccountIPs
    # @param x_account_api_key Account API Key
    # @param [Hash] opts the optional parameters
    # @option opts [String] :search search term
    # @return [Array<(ModelsCountStat, Fixnum, Hash)>] ModelsCountStat data, response status code and response headers
    def i_p_router_count_with_http_info(x_account_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountipApi.i_p_router_count ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccountipApi.i_p_router_count"
      end
      # resource path
      local_var_path = '/account/ip/count'

      # query parameters
      query_params = {}
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsCountStat')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountipApi#i_p_router_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete IP
    # @param x_account_api_key Account API Key
    # @param ipid The IPId you want to delete
    # @param [Hash] opts the optional parameters
    # @return [ModelsDeleteResponse]
    def i_p_router_delete(x_account_api_key, ipid, opts = {})
      data, _status_code, _headers = i_p_router_delete_with_http_info(x_account_api_key, ipid, opts)
      data
    end

    # Delete IP
    # @param x_account_api_key Account API Key
    # @param ipid The IPId you want to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsDeleteResponse, Fixnum, Hash)>] ModelsDeleteResponse data, response status code and response headers
    def i_p_router_delete_with_http_info(x_account_api_key, ipid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountipApi.i_p_router_delete ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccountipApi.i_p_router_delete"
      end
      # verify the required parameter 'ipid' is set
      if @api_client.config.client_side_validation && ipid.nil?
        fail ArgumentError, "Missing the required parameter 'ipid' when calling AccountipApi.i_p_router_delete"
      end
      # resource path
      local_var_path = '/account/ip/{ipid}'.sub('{' + 'ipid' + '}', ipid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsDeleteResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountipApi#i_p_router_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find IP by IPId
    # @param x_account_api_key Account API Key
    # @param ipid the IPId you want to get
    # @param [Hash] opts the optional parameters
    # @return [ModelsIP]
    def i_p_router_get(x_account_api_key, ipid, opts = {})
      data, _status_code, _headers = i_p_router_get_with_http_info(x_account_api_key, ipid, opts)
      data
    end

    # Find IP by IPId
    # @param x_account_api_key Account API Key
    # @param ipid the IPId you want to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsIP, Fixnum, Hash)>] ModelsIP data, response status code and response headers
    def i_p_router_get_with_http_info(x_account_api_key, ipid, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountipApi.i_p_router_get ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccountipApi.i_p_router_get"
      end
      # verify the required parameter 'ipid' is set
      if @api_client.config.client_side_validation && ipid.nil?
        fail ArgumentError, "Missing the required parameter 'ipid' when calling AccountipApi.i_p_router_get"
      end
      # resource path
      local_var_path = '/account/ip/{ipid}'.sub('{' + 'ipid' + '}', ipid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsIP')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountipApi#i_p_router_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get All IPs
    # @param x_account_api_key Account API Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset offset
    # @option opts [Integer] :limit limit
    # @option opts [String] :search search term
    # @return [Array<ModelsIP>]
    def i_p_router_get_all(x_account_api_key, opts = {})
      data, _status_code, _headers = i_p_router_get_all_with_http_info(x_account_api_key, opts)
      data
    end

    # Get All IPs
    # @param x_account_api_key Account API Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset offset
    # @option opts [Integer] :limit limit
    # @option opts [String] :search search term
    # @return [Array<(Array<ModelsIP>, Fixnum, Hash)>] Array<ModelsIP> data, response status code and response headers
    def i_p_router_get_all_with_http_info(x_account_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountipApi.i_p_router_get_all ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccountipApi.i_p_router_get_all"
      end
      # resource path
      local_var_path = '/account/ip/'

      # query parameters
      query_params = {}
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ModelsIP>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountipApi#i_p_router_get_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update an IP
    # @param x_account_api_key Account API Key
    # @param ipid The IP you want to update
    # @param body The IP Email Provider Settings
    # @param [Hash] opts the optional parameters
    # @return [ModelsIP]
    def i_p_router_update(x_account_api_key, ipid, body, opts = {})
      data, _status_code, _headers = i_p_router_update_with_http_info(x_account_api_key, ipid, body, opts)
      data
    end

    # Update an IP
    # @param x_account_api_key Account API Key
    # @param ipid The IP you want to update
    # @param body The IP Email Provider Settings
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsIP, Fixnum, Hash)>] ModelsIP data, response status code and response headers
    def i_p_router_update_with_http_info(x_account_api_key, ipid, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountipApi.i_p_router_update ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccountipApi.i_p_router_update"
      end
      # verify the required parameter 'ipid' is set
      if @api_client.config.client_side_validation && ipid.nil?
        fail ArgumentError, "Missing the required parameter 'ipid' when calling AccountipApi.i_p_router_update"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AccountipApi.i_p_router_update"
      end
      # resource path
      local_var_path = '/account/ip/{ipid}'.sub('{' + 'ipid' + '}', ipid.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsIP')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountipApi#i_p_router_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
