=begin
#SendPost API

#SendPost API to send transactional emails reliably

OpenAPI spec version: 1.0.0
Contact: hello@sendx.io
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.17

=end

require 'uri'

module SwaggerClient
  class AccountrecipientApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Find all messages sent to a specific recipient
    # @param x_account_api_key Account API Key
    # @param recipient email of the recipient
    # @param [Hash] opts the optional parameters
    # @return [Array<ModelsQEmailMessage>]
    def recipient_router_get_all_messages_for_a_recipient(x_account_api_key, recipient, opts = {})
      data, _status_code, _headers = recipient_router_get_all_messages_for_a_recipient_with_http_info(x_account_api_key, recipient, opts)
      data
    end

    # Find all messages sent to a specific recipient
    # @param x_account_api_key Account API Key
    # @param recipient email of the recipient
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ModelsQEmailMessage>, Fixnum, Hash)>] Array<ModelsQEmailMessage> data, response status code and response headers
    def recipient_router_get_all_messages_for_a_recipient_with_http_info(x_account_api_key, recipient, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountrecipientApi.recipient_router_get_all_messages_for_a_recipient ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccountrecipientApi.recipient_router_get_all_messages_for_a_recipient"
      end
      # verify the required parameter 'recipient' is set
      if @api_client.config.client_side_validation && recipient.nil?
        fail ArgumentError, "Missing the required parameter 'recipient' when calling AccountrecipientApi.recipient_router_get_all_messages_for_a_recipient"
      end
      # resource path
      local_var_path = '/account/recipient/{recipient}/messages'.sub('{' + 'recipient' + '}', recipient.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ModelsQEmailMessage>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountrecipientApi#recipient_router_get_all_messages_for_a_recipient\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find all message sent to a recipient from a specific node
    # @param x_account_api_key Account API Key
    # @param recipient email of the recipient
    # @param [Hash] opts the optional parameters
    # @return [Array<ModelsQEmailMessage>]
    def recipient_router_get_all_messages_for_a_recipient_from_a_node(x_account_api_key, recipient, opts = {})
      data, _status_code, _headers = recipient_router_get_all_messages_for_a_recipient_from_a_node_with_http_info(x_account_api_key, recipient, opts)
      data
    end

    # Find all message sent to a recipient from a specific node
    # @param x_account_api_key Account API Key
    # @param recipient email of the recipient
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ModelsQEmailMessage>, Fixnum, Hash)>] Array<ModelsQEmailMessage> data, response status code and response headers
    def recipient_router_get_all_messages_for_a_recipient_from_a_node_with_http_info(x_account_api_key, recipient, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountrecipientApi.recipient_router_get_all_messages_for_a_recipient_from_a_node ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccountrecipientApi.recipient_router_get_all_messages_for_a_recipient_from_a_node"
      end
      # verify the required parameter 'recipient' is set
      if @api_client.config.client_side_validation && recipient.nil?
        fail ArgumentError, "Missing the required parameter 'recipient' when calling AccountrecipientApi.recipient_router_get_all_messages_for_a_recipient_from_a_node"
      end
      # resource path
      local_var_path = '/account/recipient/node/{recipient}/messages'.sub('{' + 'recipient' + '}', recipient.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ModelsQEmailMessage>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountrecipientApi#recipient_router_get_all_messages_for_a_recipient_from_a_node\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
