=begin
#SendPost API

#SendPost API to send transactional emails reliably

OpenAPI spec version: 1.0.0
Contact: hello@sendx.io
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.17

=end

require 'uri'

module SwaggerClient
  class AccountwebhookApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Count Total AccountWebhooks
    # @param x_account_api_key Account API Key
    # @param [Hash] opts the optional parameters
    # @return [ModelsCountStat]
    def account_webhook_router_count(x_account_api_key, opts = {})
      data, _status_code, _headers = account_webhook_router_count_with_http_info(x_account_api_key, opts)
      data
    end

    # Count Total AccountWebhooks
    # @param x_account_api_key Account API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsCountStat, Fixnum, Hash)>] ModelsCountStat data, response status code and response headers
    def account_webhook_router_count_with_http_info(x_account_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountwebhookApi.account_webhook_router_count ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccountwebhookApi.account_webhook_router_count"
      end
      # resource path
      local_var_path = '/account/webhook/count'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsCountStat')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountwebhookApi#account_webhook_router_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Create AccountWebhook
    # @param x_account_api_key Account API Key
    # @param body The AccountWebhook content
    # @param [Hash] opts the optional parameters
    # @return [ModelsAccountWebhook]
    def account_webhook_router_create(x_account_api_key, body, opts = {})
      data, _status_code, _headers = account_webhook_router_create_with_http_info(x_account_api_key, body, opts)
      data
    end

    # Create AccountWebhook
    # @param x_account_api_key Account API Key
    # @param body The AccountWebhook content
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsAccountWebhook, Fixnum, Hash)>] ModelsAccountWebhook data, response status code and response headers
    def account_webhook_router_create_with_http_info(x_account_api_key, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountwebhookApi.account_webhook_router_create ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccountwebhookApi.account_webhook_router_create"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AccountwebhookApi.account_webhook_router_create"
      end
      # resource path
      local_var_path = '/account/webhook/'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsAccountWebhook')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountwebhookApi#account_webhook_router_create\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add Account Webhook To AccountWebhook Cache
    # @param body Add account webhook to cache
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def account_webhook_router_create_account_webhook_in_account_webhook_cache(body, opts = {})
      account_webhook_router_create_account_webhook_in_account_webhook_cache_with_http_info(body, opts)
      nil
    end

    # Add Account Webhook To AccountWebhook Cache
    # @param body Add account webhook to cache
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def account_webhook_router_create_account_webhook_in_account_webhook_cache_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountwebhookApi.account_webhook_router_create_account_webhook_in_account_webhook_cache ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AccountwebhookApi.account_webhook_router_create_account_webhook_in_account_webhook_cache"
      end
      # resource path
      local_var_path = '/account/webhook/cache'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountwebhookApi#account_webhook_router_create_account_webhook_in_account_webhook_cache\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete AccountWebhook
    # @param x_account_api_key Account API Key
    # @param webhook_id The AccountWebhookId you want to delete
    # @param [Hash] opts the optional parameters
    # @return [ModelsDeleteResponse]
    def account_webhook_router_delete(x_account_api_key, webhook_id, opts = {})
      data, _status_code, _headers = account_webhook_router_delete_with_http_info(x_account_api_key, webhook_id, opts)
      data
    end

    # Delete AccountWebhook
    # @param x_account_api_key Account API Key
    # @param webhook_id The AccountWebhookId you want to delete
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsDeleteResponse, Fixnum, Hash)>] ModelsDeleteResponse data, response status code and response headers
    def account_webhook_router_delete_with_http_info(x_account_api_key, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountwebhookApi.account_webhook_router_delete ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccountwebhookApi.account_webhook_router_delete"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AccountwebhookApi.account_webhook_router_delete"
      end
      # resource path
      local_var_path = '/account/webhook/{webhookId}'.sub('{' + 'webhookId' + '}', webhook_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsDeleteResponse')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountwebhookApi#account_webhook_router_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete Account Webhook which is in AccountWebhook Cache
    # @param body AccountWebhook content
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def account_webhook_router_delete_account_webhook_in_account_webhook_cache(body, opts = {})
      account_webhook_router_delete_account_webhook_in_account_webhook_cache_with_http_info(body, opts)
      nil
    end

    # Delete Account Webhook which is in AccountWebhook Cache
    # @param body AccountWebhook content
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def account_webhook_router_delete_account_webhook_in_account_webhook_cache_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountwebhookApi.account_webhook_router_delete_account_webhook_in_account_webhook_cache ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AccountwebhookApi.account_webhook_router_delete_account_webhook_in_account_webhook_cache"
      end
      # resource path
      local_var_path = '/account/webhook/cache'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountwebhookApi#account_webhook_router_delete_account_webhook_in_account_webhook_cache\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Find AccountWebhook by AccountWebhookId
    # @param x_account_api_key Account API Key
    # @param webhook_id the AccountWebhookId you want to get
    # @param [Hash] opts the optional parameters
    # @return [ModelsAccountWebhook]
    def account_webhook_router_get(x_account_api_key, webhook_id, opts = {})
      data, _status_code, _headers = account_webhook_router_get_with_http_info(x_account_api_key, webhook_id, opts)
      data
    end

    # Find AccountWebhook by AccountWebhookId
    # @param x_account_api_key Account API Key
    # @param webhook_id the AccountWebhookId you want to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsAccountWebhook, Fixnum, Hash)>] ModelsAccountWebhook data, response status code and response headers
    def account_webhook_router_get_with_http_info(x_account_api_key, webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountwebhookApi.account_webhook_router_get ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccountwebhookApi.account_webhook_router_get"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AccountwebhookApi.account_webhook_router_get"
      end
      # resource path
      local_var_path = '/account/webhook/{webhookId}'.sub('{' + 'webhookId' + '}', webhook_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsAccountWebhook')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountwebhookApi#account_webhook_router_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get All AccountWebhooks
    # @param x_account_api_key Account API Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset offset
    # @option opts [Integer] :limit limit
    # @option opts [String] :search search
    # @return [Array<ModelsAccountWebhook>]
    def account_webhook_router_get_all(x_account_api_key, opts = {})
      data, _status_code, _headers = account_webhook_router_get_all_with_http_info(x_account_api_key, opts)
      data
    end

    # Get All AccountWebhooks
    # @param x_account_api_key Account API Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset offset
    # @option opts [Integer] :limit limit
    # @option opts [String] :search search
    # @return [Array<(Array<ModelsAccountWebhook>, Fixnum, Hash)>] Array<ModelsAccountWebhook> data, response status code and response headers
    def account_webhook_router_get_all_with_http_info(x_account_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountwebhookApi.account_webhook_router_get_all ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccountwebhookApi.account_webhook_router_get_all"
      end
      # resource path
      local_var_path = '/account/webhook/'

      # query parameters
      query_params = {}
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ModelsAccountWebhook>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountwebhookApi#account_webhook_router_get_all\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Update AccountWebhook
    # @param x_account_api_key Account API Key
    # @param webhook_id The AccountWebhookId you want to update
    # @param body The body
    # @param [Hash] opts the optional parameters
    # @return [ModelsAccountWebhook]
    def account_webhook_router_update(x_account_api_key, webhook_id, body, opts = {})
      data, _status_code, _headers = account_webhook_router_update_with_http_info(x_account_api_key, webhook_id, body, opts)
      data
    end

    # Update AccountWebhook
    # @param x_account_api_key Account API Key
    # @param webhook_id The AccountWebhookId you want to update
    # @param body The body
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsAccountWebhook, Fixnum, Hash)>] ModelsAccountWebhook data, response status code and response headers
    def account_webhook_router_update_with_http_info(x_account_api_key, webhook_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AccountwebhookApi.account_webhook_router_update ...'
      end
      # verify the required parameter 'x_account_api_key' is set
      if @api_client.config.client_side_validation && x_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_account_api_key' when calling AccountwebhookApi.account_webhook_router_update"
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling AccountwebhookApi.account_webhook_router_update"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling AccountwebhookApi.account_webhook_router_update"
      end
      # resource path
      local_var_path = '/account/webhook/{webhookId}'.sub('{' + 'webhookId' + '}', webhook_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-Account-ApiKey'] = x_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:PUT, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsAccountWebhook')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AccountwebhookApi#account_webhook_router_update\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
