=begin
#SendPost API

#SendPost API to send transactional emails reliably

OpenAPI spec version: 1.0.0
Contact: hello@sendx.io
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.17

=end

require 'uri'

module SwaggerClient
  class SmtpApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Receive webhooks raised from SMTP servers
    # @param body The Webhook content
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def s_mtp_router_receive_webhooks_raised_from_smtp_servers(body, opts = {})
      s_mtp_router_receive_webhooks_raised_from_smtp_servers_with_http_info(body, opts)
      nil
    end

    # Receive webhooks raised from SMTP servers
    # @param body The Webhook content
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def s_mtp_router_receive_webhooks_raised_from_smtp_servers_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SmtpApi.s_mtp_router_receive_webhooks_raised_from_smtp_servers ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling SmtpApi.s_mtp_router_receive_webhooks_raised_from_smtp_servers"
      end
      # resource path
      local_var_path = '/smtp/webhook'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SmtpApi#s_mtp_router_receive_webhooks_raised_from_smtp_servers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
