=begin
#SendPost API

#SendPost API to send transactional emails reliably

OpenAPI spec version: 1.0.0
Contact: hello@sendx.io
Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.17

=end

require 'uri'

module SwaggerClient
  class SubaccountsuppressionApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Count Total Suppressions
    # @param x_sub_account_api_key Sub-Account API Key
    # @param [Hash] opts the optional parameters
    # @return [ModelsCountStat]
    def suppression_router_count(x_sub_account_api_key, opts = {})
      data, _status_code, _headers = suppression_router_count_with_http_info(x_sub_account_api_key, opts)
      data
    end

    # Count Total Suppressions
    # @param x_sub_account_api_key Sub-Account API Key
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsCountStat, Fixnum, Hash)>] ModelsCountStat data, response status code and response headers
    def suppression_router_count_with_http_info(x_sub_account_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubaccountsuppressionApi.suppression_router_count ...'
      end
      # verify the required parameter 'x_sub_account_api_key' is set
      if @api_client.config.client_side_validation && x_sub_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_sub_account_api_key' when calling SubaccountsuppressionApi.suppression_router_count"
      end
      # resource path
      local_var_path = '/subaccount/suppression/count'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-SubAccount-ApiKey'] = x_sub_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsCountStat')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubaccountsuppressionApi#suppression_router_count\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add Email Addresses To Suppression List
    # @param x_sub_account_api_key Sub-Account API Key
    # @param body Suppression content
    # @param [Hash] opts the optional parameters
    # @return [ModelsSuppression]
    def suppression_router_create_suppressions(x_sub_account_api_key, body, opts = {})
      data, _status_code, _headers = suppression_router_create_suppressions_with_http_info(x_sub_account_api_key, body, opts)
      data
    end

    # Add Email Addresses To Suppression List
    # @param x_sub_account_api_key Sub-Account API Key
    # @param body Suppression content
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsSuppression, Fixnum, Hash)>] ModelsSuppression data, response status code and response headers
    def suppression_router_create_suppressions_with_http_info(x_sub_account_api_key, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubaccountsuppressionApi.suppression_router_create_suppressions ...'
      end
      # verify the required parameter 'x_sub_account_api_key' is set
      if @api_client.config.client_side_validation && x_sub_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_sub_account_api_key' when calling SubaccountsuppressionApi.suppression_router_create_suppressions"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling SubaccountsuppressionApi.suppression_router_create_suppressions"
      end
      # resource path
      local_var_path = '/subaccount/suppression/'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-SubAccount-ApiKey'] = x_sub_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsSuppression')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubaccountsuppressionApi#suppression_router_create_suppressions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Add Email Addresses To Suppression Filter
    # @param body Add suppressions to suppression filter
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def suppression_router_create_suppressions_in_suppression_filter(body, opts = {})
      suppression_router_create_suppressions_in_suppression_filter_with_http_info(body, opts)
      nil
    end

    # Add Email Addresses To Suppression Filter
    # @param body Add suppressions to suppression filter
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def suppression_router_create_suppressions_in_suppression_filter_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubaccountsuppressionApi.suppression_router_create_suppressions_in_suppression_filter ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling SubaccountsuppressionApi.suppression_router_create_suppressions_in_suppression_filter"
      end
      # resource path
      local_var_path = '/subaccount/suppression/filter'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubaccountsuppressionApi#suppression_router_create_suppressions_in_suppression_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete specific emails which are in suppression list
    # @param x_sub_account_api_key Sub-Account API Key
    # @param body Suppression content
    # @param [Hash] opts the optional parameters
    # @return [ModelsSuppression]
    def suppression_router_delete_suppression(x_sub_account_api_key, body, opts = {})
      data, _status_code, _headers = suppression_router_delete_suppression_with_http_info(x_sub_account_api_key, body, opts)
      data
    end

    # Delete specific emails which are in suppression list
    # @param x_sub_account_api_key Sub-Account API Key
    # @param body Suppression content
    # @param [Hash] opts the optional parameters
    # @return [Array<(ModelsSuppression, Fixnum, Hash)>] ModelsSuppression data, response status code and response headers
    def suppression_router_delete_suppression_with_http_info(x_sub_account_api_key, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubaccountsuppressionApi.suppression_router_delete_suppression ...'
      end
      # verify the required parameter 'x_sub_account_api_key' is set
      if @api_client.config.client_side_validation && x_sub_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_sub_account_api_key' when calling SubaccountsuppressionApi.suppression_router_delete_suppression"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling SubaccountsuppressionApi.suppression_router_delete_suppression"
      end
      # resource path
      local_var_path = '/subaccount/suppression/'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-SubAccount-ApiKey'] = x_sub_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ModelsSuppression')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubaccountsuppressionApi#suppression_router_delete_suppression\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Delete specific emails which are in suppression list
    # @param body Suppression content
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def suppression_router_delete_suppressions_in_suppression_filter(body, opts = {})
      suppression_router_delete_suppressions_in_suppression_filter_with_http_info(body, opts)
      nil
    end

    # Delete specific emails which are in suppression list
    # @param body Suppression content
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Fixnum, Hash)>] nil, response status code and response headers
    def suppression_router_delete_suppressions_in_suppression_filter_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubaccountsuppressionApi.suppression_router_delete_suppressions_in_suppression_filter ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling SubaccountsuppressionApi.suppression_router_delete_suppressions_in_suppression_filter"
      end
      # resource path
      local_var_path = '/subaccount/suppression/filter'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(body)
      auth_names = []
      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubaccountsuppressionApi#suppression_router_delete_suppressions_in_suppression_filter\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get all suppressions
    # @param x_sub_account_api_key Sub-Account API Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset offset
    # @option opts [Integer] :limit limit
    # @option opts [String] :search search
    # @return [Array<ModelsSuppression>]
    def suppression_router_get_all_suppressions(x_sub_account_api_key, opts = {})
      data, _status_code, _headers = suppression_router_get_all_suppressions_with_http_info(x_sub_account_api_key, opts)
      data
    end

    # Get all suppressions
    # @param x_sub_account_api_key Sub-Account API Key
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :offset offset
    # @option opts [Integer] :limit limit
    # @option opts [String] :search search
    # @return [Array<(Array<ModelsSuppression>, Fixnum, Hash)>] Array<ModelsSuppression> data, response status code and response headers
    def suppression_router_get_all_suppressions_with_http_info(x_sub_account_api_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SubaccountsuppressionApi.suppression_router_get_all_suppressions ...'
      end
      # verify the required parameter 'x_sub_account_api_key' is set
      if @api_client.config.client_side_validation && x_sub_account_api_key.nil?
        fail ArgumentError, "Missing the required parameter 'x_sub_account_api_key' when calling SubaccountsuppressionApi.suppression_router_get_all_suppressions"
      end
      # resource path
      local_var_path = '/subaccount/suppression/'

      # query parameters
      query_params = {}
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])
      header_params[:'X-SubAccount-ApiKey'] = x_sub_account_api_key

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Array<ModelsSuppression>')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SubaccountsuppressionApi#suppression_router_get_all_suppressions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
